

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#chart-holder {
    width: 100%;
    height:100%;
    position: relative;
}

#chart-holder svg { 
    // width: 100%;
    // height: 100%;
}

.svg-main-color{
    fill:#A0D1C5
}

#title-container text{
    font-family:'montserrat';
    font-size: 18px;
    text-align: center;
    color: white; 
}
.graph-title,
#comment-container text{
    font-family:'roboto';
    font-size: 13px;
    text-align: left:
}

.legend,
.axis text {
    color:#404040;
    font-family:'roboto';
    font-size:13px;
    font-weight:400;
    letter-spacing:'normal'
}

#sources text{
    font-style:italic;
    font-family:'georgia';
    font-size: 12px;
    font-weight: 200
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

#global-container{
    max-width:800px;
    max-height: 300px
}

#title-container {
    height:30px;
    text-align: center;
    background-color:#F3C600;
}

#comment-container {
    // background-color:#FFE79F;
    height:30px;
    text-align: left:
}

#sources {
    text-align:center
}

#main-text {
    margin-top:10px;
    text-align:justify;
    font-family: georgia;
    font-size: 13px
}

select {
    border:none
}

#menu div{
    display:inline-flex;
    margin-left:15px
}

#menu form{
    display:inline;
}

#menu label{
    margin-right:10px
}

.social-icon-container {
   width: 190px;
   display: flex;
   justify-content: space-between;
   margin:auto
}

.social-icon {
   height: 30px;
   width: 30px;
   cursor: pointer;
}

#main-text {
    margin-bottom: 10px
}

path.domain{
    display:none;
}

.tick line{
    display:none;
}

.tableTitle {
    font-size: 13px;
}

.hidden {
    display:none;
}

.circleTooltip {
    fill:#F3C600;
}

.textTooltip {
    fill:#F3C600;
}