

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #fefefe;
    /*width: 1000px;*/
    margin: 0 0;  top and bottom 0, left and right auto 
}

a:link {
    color: royalblue;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

#header {
    position: relative;
    /*padding : 10%;*/
    background-color:#303538;
    width:100%;
    height:100px;
    margin-bottom: 5rem
}

#title {
    position: relative;
    font-size:30px;
    font-weight: 100;
    text-align:center;
    color:white;
    padding-top: 3%;
    margin:10%;
}

#chart {
    margin:10%;
    position: relative;
    background-color:#303538;
}

#chart-holder {
    width: 100%;
    height:900px;
    position: relative;
}

#chart-holder svg { 
    width: 100%;
    height: 100%;
}

/* style.css */
.axis { font: 10px sans-serif; }
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

 .labels text{
    font-size: 12px;
 }

 circle.legend,
 circle.bubbleTime {
    opacity:.7;
 }

.comment-container{
    background-color: #eeeeee;
    left:25%;
}

.comment{
    font-size:12px;
    text-align: center;

}

.svg-main-color{
    fill:#A0D1C5
}

text {
    color:#404040;
    font-family:'Montserrat';
    font-size:13px;
    font-weight:400;
    letter-spacing:'normal'
}

#global-container{
    background-color:#E8FFFF;
    max-width:800px;
    max-height: 300px
}

#title-container{
    background-color:#FFD2D2;
    font-family:'roboto';
    height:30px;
    font-size: 18px;
    text-align: center:

}

#comment-container{
    background-color:#FFE79F;
    font-family:'georgia';
    height:30px;
    font-size: 13px;
    text-align: left:
}

#nbviz:{
    background-color:#CFFFCD
}

#menu:{
    background-color:#FF6FEA
}










